body {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;

  background: linear-gradient(
      to bottom right,
      rgba(29, 26, 26, 0.9),
      rgba(0, 0, 0, 0.4)
    ),
    url("./public/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.container {
  max-width: 700px;
  margin: auto;
}
input,
textarea {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1rem;
  background-color: transparent;
}
button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}
h1 {
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

.glass {
  background: rgba(113, 91, 91, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(113, 91, 91, 0.38);
  color: white;
}
